{% extends "index.html" %}{% load static %}
{% block content %}
<section>
	<div class="areakeyinfo">
		<div class="areakeyinner">
			<div class="areasection">
				<div class="arealeft"><img src="{% get_static_prefix%}images/areakey/rapidkey_logo.png" height="60"></div>
				<div class="arearight">
					<a href="#" class="export rapidkeybtn" download="RapidKey Order Template.csv"> Export RapidKey<sup>&reg;</sup></a>
				</div>
			</div>
			<div class="areacontent">
				<p>WELCOME! - PLEASE NOTE: You are <strong>logged</strong> in to a <strong><i>confidential</i> privileged area</strong>. Information on these pages is for the exclusive viewing and use of your company and information such as net prices, and other confidential information herein must be kept confidential at all times.</p>
			</div>
			<div class="areakeyupload">
				<button type="button" class="active btn btn-primary">Order Upload</button>
				<button type="button" class="btn btn-secondary">Upload History</button>
				<div class="dragndrop one">
					<div class="item">
						<form data-validation="true" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="item-inner">
								<div class="item-content">
									<div class="image-upload"> <label style="cursor: pointer;" for="file_upload"> <img src="" alt="" class="uploaded-image">
											<div class="h-100">
												<div class="dplay-tbl">
													<div class="dplay-tbl-cell"><i class="fa fa-arrow-circle-down"></i>
														<h5><b>Choose a file</b> or drag it here</h5>
													</div>
												</div>
											</div>
											 <input data-required="image" type="file" name="csvfile" id="file_upload" class="image-input" data-traget-resolution="image_resolution" value="" onclick="formsubmit()">
											 <input type="submit">
										</label> </div>
								</div>
								<!--item-content-->
								<label for="file1"> Upload a file</label>
								<input type="file" id="file1" name="file" onclick="submitform()">
								<small>Only accepts CSV files</small>
								<button type="submit">Upload</button>
							</div>
							<!--item-inner-->
						</form>
					</div>
					<!--item-->
				</div>
				<div class="search-container">
					<form>
					  <input type="text" placeholder="Search.." name="search" style="width: 400px; border: 1px solid #807c7c;">
					  <button type="submit">Search</button>
					</form>
				</div>
				<div class="table-responsive">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th scope="col">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
										<label class="form-check-label" for="inlineCheckbox1">select All</label>
									</div>
								</th>
							  <th scope="col">Distributor Order Number</th>
							  <th scope="col">Order Date Requested</th>
							</tr>
						</thead>
						<tbody>
							{% for areakeys in areakey %}
							<tr>
								<th scope="row">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
									</div>
								</th>
								<td>{{areakeys.CustomerOrderNumber}}</td>
								<td>{{areakeys.OrderNumber}}</td>
							</tr>
							{% endfor %}
							<!-- <tr>
								<th scope="row">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
									</div>
								</th>
								<td>Jacob</td>
								<td>Thornton</td>
							</tr> -->
						</tbody>
					</table>
				</div>
				<div class="selectallbtn">
					<a href="" class="button showbutton">Export Selected to .CSV 
						<i class="fa fa-arrow-down"></i></a>
					<a href="" class="hiddenbutton" style="display: none;"></a>
				</div>
				<div class="selectallbtn">
					<a href="" class="button deleteselect">Delete Selected
						<i class="fa fa-trash-alt"></i>
					</a>
					<a href="" class="hidebutton" style="display: none;"></a>
					<a href="" class="button confirmbutton">Confirm and Place Orders
						<i class="fa fa-arrow-alt-right"></i>
					</a>
				</div>
				<div class="clear"></div>

			</div>
		</div>
	</div>
</section>
{% endblock %}