{% extends "index.html" %}{% load static %}
{% block content %}
	<div class="productheader">
		<div class="productimage">
			<div class="productimg1">
				<img src="{% get_static_prefix %}images/product/productimage1.jpg" alt="headerimage1">
			</div>
			<div class="productimg2">
				<img src="{% get_static_prefix %}images/product/productimage2.jpg" alt="headerimage2">
				<h1>
					<i class="iconBlank"></i>
					 ALUKAP
					 <sup>&reg;</sup>
					 -SS
				</h1>
			</div>
		</div>
	</div>
	<div class="innersection">
		<div class="menuleft">
			<div class="menuproduct">
				<h3>Product Groups</h3>
				<div class="productmenulist">
					<h4><a href="">ALUKAP<sup>&reg;</sup>-SS</a><i class="fa fa-plus"></i></h4>
					<ul class="active" style="overflow: hidden; display: none;">
						<li><a href="#">ALUKAP<sup>&reg;</sup>-SS: LOW PROFILE</a></li>
						<li><a href="#">ALUKAP<sup>&reg;</sup>-SS: HIGH SPAN</a></li>
						<li><a href="#"></a>ALUKAP<sup>&reg;</sup>-SS: WALL &amp; EAVES BEAM</li>
						<li><a href="#">ALUKAP<sup>&reg;</sup>-SS: POSTS</a></li>
					</ul>
					<h4><a href="#">ALUKAP<sup>&reg;</sup>-XR</a><i class="fa fa-plus"></i></h4>
					<h4><a href="#">AXGARD<sup>&reg;</sup></a><i class="fa fa-plus"></i></h4>
					<h4><a href="#">AXIOME<sup>&reg;</sup></a><i class="fa fa-plus"></i></h4>
					<h4><a href="#">CORRAPOL<sup>&reg;</sup></a><i class="fa fa-plus"></i></h4>
					<h4><a href="#">HYGICLAD<sup>&reg;</sup></a><i class="fa fa-plus"></i></h4>
					<h4><a href="#">ADDITIONAL GLAZING SYSTEMS</a><i class="fa fa-plus"></i></h4>
					<h4 class="distributor"><a href="#">Distributor Deals</a><i class="fa fa-plus"></i></h4>
				</div>
			</div>
		</div>
		<div class="productcontent">
			<ul class="prodcontentlist">
				<li>
					<div class="productname">
						<a href=""><img src="{% get_static_prefix %}images/product/productname.png"></a>
					</div>
					<div class="productnameinfo">
						<div class="productimginfo">
							<a href="#"><img src="{%get_static_prefix%}images/product/productimginfo.jpg"></a>
						</div>
						<div class="productdesc">
							<p>ALUKAP<sup>&reg;</sup>-SS: LOW PROFILE</p>
							<p><b>Alukap<sup>&reg;</sup>-SS Low Profile Bar is a world leading glazing bar, manufactured for any canopy requirement. The Low Profile bar spans up to 3m spans unsupported, and will glaze Axiome<sup>&reg;</sup> multiwall or glass of any thickness. </b></p>
						</div>
						<a href="#" class="prodmoreinfo distributori">Distributor
							<br>Order Area <i class="fa fa-caret-right"></i>
						</a>
						<a href="#" class="prodmoreinfo">More Info <i class="fa fa-caret-right" style="
    					margin-top: 0;"></i></a>
					</div>
				</li>
				<li>
					<div class="productname">
						<a href=""><img src="{% get_static_prefix %}images/product/productname.png"></a>
					</div>
					<div class="productnameinfo">
						<div class="productimginfo">
							<a href="#"><img src="{%get_static_prefix%}images/product/productimginfo.jpg"></a>
						</div>
						<div class="productdesc">
							<p>ALUKAP<sup>&reg;</sup>-SS: LOW PROFILE</p>
							<p><b>Alukap<sup>&reg;</sup>-SS Low Profile Bar is a world leading glazing bar, manufactured for any canopy requirement. The Low Profile bar spans up to 3m spans unsupported, and will glaze Axiome<sup>&reg;</sup> multiwall or glass of any thickness. </b></p>
						</div>
						<a href="#" class="prodmoreinfo distributori">Distributor
							<br>Order Area <i class="fa fa-caret-right"></i>
						</a>
						<a href="#" class="prodmoreinfo">More Info <i class="fa fa-caret-right" style="
    					margin-top: 0;"></i></a>
					</div>
				</li>
				<li>
					<div class="productname">
						<a href=""><img src="{% get_static_prefix %}images/product/productname.png"></a>
					</div>
					<div class="productnameinfo">
						<div class="productimginfo">
							<a href="#"><img src="{%get_static_prefix%}images/product/productimginfo.jpg"></a>
						</div>
						<div class="productdesc">
							<p>ALUKAP<sup>&reg;</sup>-SS: LOW PROFILE</p>
							<p><b>Alukap<sup>&reg;</sup>-SS Low Profile Bar is a world leading glazing bar, manufactured for any canopy requirement. The Low Profile bar spans up to 3m spans unsupported, and will glaze Axiome<sup>&reg;</sup> multiwall or glass of any thickness. </b></p>
						</div>
						<a href="#" class="prodmoreinfo distributori">Distributor
							<br>Order Area <i class="fa fa-caret-right"></i>
						</a>
						<a href="#" class="prodmoreinfo">More Info <i class="fa fa-caret-right" style="
    					margin-top: 0;"></i></a>
					</div>
				</li>
				<li>
					<div class="productname">
						<a href=""><img src="{% get_static_prefix %}images/product/productname.png"></a>
					</div>
					<div class="productnameinfo">
						<div class="productimginfo">
							<a href="#"><img src="{%get_static_prefix%}images/product/productimginfo.jpg"></a>
						</div>
						<div class="productdesc">
							<p>ALUKAP<sup>&reg;</sup>-SS: LOW PROFILE</p>
							<p><b>Alukap<sup>&reg;</sup>-SS Low Profile Bar is a world leading glazing bar, manufactured for any canopy requirement. The Low Profile bar spans up to 3m spans unsupported, and will glaze Axiome<sup>&reg;</sup> multiwall or glass of any thickness. </b></p>
						</div>
						<a href="#" class="prodmoreinfo distributori">Distributor
							<br>Order Area <i class="fa fa-caret-right"></i>
						</a>
						<a href="#" class="prodmoreinfo">More Info <i class="fa fa-caret-right" style="
    					margin-top: 0;"></i></a>
					</div>
				</li>
			</ul>
			
		</div>
	</div>
{% endblock %}