.productheader{
	position: relative;
	width: 100%;
	float: left;
	margin-bottom: 20px;
    overflow: hidden;
}
.productheader .productimage{
	/*position: absolute;*/
    top: 0;
    left: 0;
    /*width: 2000px;*/
    height: 120px;
    z-index: 2;
}
.productimg1 {
    width: 50%;
    float: left;
}
.productimg2 {
    width: 50%;
    float: left;
    position: absolute;
    right: 0;
}
.productheader .productimage .productimg2 h1{
	position: absolute;
    top: 40px;
    left: 20px;
    margin: 0;
    z-index: 2;
}
.productheader h1{
	position: relative;
    margin: 40px 0 0 565px;
    padding: 0 0 0 65px;
    font-weight: 300;
    font-size: 34px;
    color: #fff;
    z-index: 3;
}
.productheader h1 i.iconBlank {
    position: absolute;
    width: 49px;
    height: 42px;
    background: url(iconsBlank@2x.png) no-repeat;
    background-size: 100%;
}
.productheader h1 i {
    left: 0;
}
.menuleft {
    float: left;
    width: 23%;
    margin: 0 1% 0 0;
}
.menuproduct {
    float: left;
    width: 100%;
    background: #fff;
    border-radius: 20px 0 0 0;
}
.menuproduct h3 {
    float: left;
    width: 100%;
    background: #57595b;
    margin: 0;
    padding: 7px 20px;
    font-size: 1.6em;
    font-weight: 600;
    color: #fff;
    border-radius: 20px 0 0 0;
}
.productmenulist{
	width: 100%;
	display: block;
}

.menuproduct h4 {
    position: relative;
    float: left;
    width: 100%;
    margin: 0;
    background: #57595b;
    margin: 1px 0 0 0;
    padding: 7px 30px 7px 20px;
    font-size: 1.0em;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.menuproduct h4 a {
    color: #fff;
}
.menuproduct h4 i {
    position: absolute;
    top: 11px;
    right: 12px;
    padding-left: 10px;
    border-left: 1px solid #3F4042;
}
.menuproduct ul {
    float: left;
    width: 100%;
    background: #dddede;
    margin: 0;
    padding: 5px 0;
    font-size: 1.0em;
    /*display: none;
    overflow: hidden;*/
}
.menuproduct ul li {
    float: left;
    width: 87%;
    min-height: 13px;
    margin: 5px 6%;
    padding: 0 0 0 7px;
    list-style-type: none;
    border-left: 2px solid #c5c5c5;
    line-height: 13px;
}
.menuproduct ul li a {
    color: #57595b;
}
.menuproduct h4.distributor {
    background-color: red;
}
.productcontent{
	float: left;
    width: 76%;
    margin-bottom: 21px;
    padding-bottom: 25px;
}
.productcontent .prodcontentlist {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}
.productcontent .prodcontentlist li {
    float: left;
    width: 23.2%;
    margin: 0 0 0 1.8%;
    padding: 0;
    list-style-type: none;
}
.productcontent .prodcontentlist li .productname {
    float: left;
    width: 100%;
    background: #57595b;
    border-radius: 0 25px 0 0;
}
.productcontent .prodcontentlist li .productname img {
    max-height: 46px;
    margin: 8px 16px;
}
.productcontent .prodcontentlist li .productnameinfo {
    float: left;
    width: 100%;
    background: #fff;
    padding: 10px;
    color: #57595b;
}
.productcontent .prodcontentlist li .productnameinfo img {
    width: 100%;
    padding-bottom: 10px;
}
body p {
    font-size: 1.0em;
}
.productcontent .prodcontentlist li .prodmoreinfo {
    display: block;
    float: left;
    width: 100%;
    background: #57595b;
    margin: 15px 0 0 0;
    padding: 8px 20px;
    border-radius: 0 15px 0 0;
    font-size: 1.0em;
    font-weight: 600;
    color: #fff;
}

.productcontent .prodcontentlist li .prodmoreinfo i {
    float: right;
    padding-top: 4px;
    margin-top: -9px;
}
.distributori i{
    margin-top: -9px;
}